# Build artifacts
*.pdx/
build/
build-device/
build-demo/
build-demo-device/
*.o
*.d
pdex.dylib
pdex.elf

# macOS
.DS_Store

# Backup files
*~
*.bak

# Simulator folders
Data/
Games/
!Screenshots/

template.pdx/
